h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: blue;
    text-align: center;
}
h3 {
    color: blue;
    text-align: center;
}
.roman {
    font-family: 'Times New Roman';
    font-style: normal;
}
.times {
    font-family: Times;
    font-style: italic;
}
ul {
    line-height: 40px;
}
ol {
    line-height: 40px;
}
img {
    float: none;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: #33ACFF;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #33D7FF;
  }
  .column {
    width: 450px;
    float: left;
    padding: 15px;
  }
}